/* Code tidied up by ScrapBook */

* {
    margin: 0px;
    padding: 0px;
    outline: medium none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    font: 16px/22px GothamPro;
    background-color: rgb(255, 255, 255);
}

a,
body {
    color: rgb(41, 43, 55);
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(72, 128, 237);
    cursor: pointer ! important;
}

h1 {
    font-size: 20px;
    font-weight: 400;
}

h1,
h2 {
    line-height: 1;
}

h2 {
    font-size: 45px;
    font-weight: 300;
}

h3 {
    margin: 20px 0px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

p {
    margin-bottom: 20px;
}

.btn1 {
    border: 0px none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    position: relative;
    background: rgb(41, 49, 59) none repeat scroll 0% 0%;
    transition-duration: 300ms;
}

.btn.blue1 {
    background: rgb(117, 53, 73) none repeat scroll 0% 0%;
    height: 55px;
    color: rgb(255, 255, 255);
    padding: 0px 18px;
    font-size: 20.5px;
    line-height: 55px;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgb(59, 32, 40);
    border-radius: 0px;
    text-transform: uppercase;
}

.btn.blue1:hover {
    background: rgb(184, 106, 131) none repeat scroll 0% 0%;
}

.btn {
    border: 0px none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    position: relative;
    background: rgb(41, 49, 59) none repeat scroll 0% 0%;
    transition-duration: 300ms;
}

.btn.blue {
    background: rgb(0, 144, 208) none repeat scroll 0% 0%;
    height: 55px;
    color: rgb(255, 255, 255);
    padding: 0px 18px;
    font-size: 20.5px;
    line-height: 55px;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgb(0, 114, 164);
    border-radius: 0px;
    text-transform: uppercase;
}

.btn.blue:hover {
    background: rgb(39, 181, 245) none repeat scroll 0% 0%;
}

@font-face {
    font-family: "GothamPro";
    font-weight: 300;
    src: url("../fonts/GothamPro-Lightd41d.eot") format("eot"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype"), url("../fonts/GothamPro-Light.svg") format("svg");
}

@font-face {
    font-family: "GothamPro";
    font-weight: 400;
    src: url("../fonts/GothamProd41d.eot") format("eot"), url("../fonts/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro.svg") format("svg");
}

@font-face {
    font-family: "GothamPro";
    font-weight: 500;
    src: url("../fonts/GothamPro-Mediumd41d.eot") format("eot"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype"), url("../fonts/GothamPro-Medium.svg") format("svg");
}

@font-face {
    font-family: "GothamPro";
    font-weight: 700;
    src: url("../fonts/GothamPro-Boldd41d.eot") format("eot"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype"), url("../fonts/GothamPro-Bold.svg") format("svg");
}

.yellow-text {
    font-size: 24px;
    background-color: rgb(255, 255, 0);
    padding: 5px 10px;
    display: block;
    margin-bottom: 20px;
    color: rgb(255, 0, 0);
    line-height: 29px;
}

.doc {
    float: left;
    margin-right: 10px;
    max-width: 300px;
}

.doc-mic {
    float: left;
    margin-right: 10px;
    max-width: 300px;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% center;
}

.icon_name_arrow-left,
.icon_name_arrow-right {
    background-image: url("../fonts/arrow-right.svg");
    width: 36px;
}

.icon_name_fb {
    background-image: url("../fonts/fb.svg");
    background-size: contain;
    margin-left: 10px;
}

.icon_name_tw {
    background-image: url("../fonts/twitter.svg");
    background-size: contain;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1024px) {
}

@media (min-width: 640px) {
}

.nav {
    vertical-align: top;
    line-height: 40px;
}

@media (max-width: 860px) {
    .nav {
        position: fixed;
        z-index: 3;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        padding: 20px 0px 0px;
        opacity: 0;
        background-color: rgb(255, 255, 255);
        text-align: center;
        visibility: hidden;
        transition: opacity 0.2s ease 0s, visibility 0.2s ease 0s;
        will-change: opacity;
    }
}

@media screen and (min-width: 860px) {
    .nav {
        display: inline-block;
    }
}

.nav__link {
    display: inline-block;
    margin-right: 16px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.nav ul {
    list-style: outside none none;
}

.nav ul li {
    display: inline-block;
}

@media screen and (max-width: 860px) {
}

.header {
    padding: 15px 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .header {
        text-align: left;
    }
}

.header__in {
    margin: 0px auto;
    padding: 0px 10px;
}

.header__head {
    font-size: 0px;
    position: relative;
}

.header__main {
    margin: 0px auto;
}

.header__main-link {
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
    color: rgb(72, 128, 237);
}

.header__main h1 {
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .header__main h1 {
        font-size: 20px;
    }
}

.header__main h2 {
    margin: 0 0 26px;
    font-size: 30px;
}

@media screen and (min-width: 768px) {
    .header__main h2 {
        align-items: left;
        font-size: 45px;
    }
}

.header__footer {
    margin: 0px auto;
}

.header__logo {
    display: block;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .header__logo {
        display: inline-block;
        margin-right: 90px;
    }
}

.header__logo img {
    height: 70px;
}

/*.join {
    padding-bottom: 60px;
}*/

.join__header h3 {
    font-size: 22px;
    line-height: 1.2;
}

.product {
    max-width: 390px;
}

@media screen and (min-width: 767px) {
    .join__header h3 {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 767px) {
}

@media screen and (min-width: 767px) {
}

@media screen and (min-width: 767px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 768px) {
}

body {
    min-width: 320px;
}

.header {
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .header {
        overflow: hidden;
    }
}

a:hover {
    cursor: pointer ! important;
}

@media screen and (min-width: 767px) {
    .main {
        height: auto;
        overflow: hidden;
        text-align: left;
    }
}

.main__in {
    min-width: 280px;
    margin: 0px auto;
}

footer {
    display: block;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.left {
    float: none;
}

.right {
    float: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    max-width: 1400px;
    padding: 0px 30px;
    margin: 0px auto;
}

ul {
    list-style: outside none none;
}

footer {
    padding: 20px 0px;
    background: rgb(123, 205, 253) none repeat scroll 0% 0%;
    margin-bottom: -2px;
}

footer .footer-logo {
    margin-bottom: 5px;
}

footer .site {
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-bottom: 15px;
    margin-left: 20px;
}

footer .site a {
    color: rgb(255, 255, 255);
}

footer .vis {
    color: rgb(255, 255, 255);
    font-size: 14px;
}

footer .vis a {
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*footer .right-side {
    width: calc(100% - 200px);
}*/

footer .menu {
    float: none;
}

footer .menu > ul > li {
    float: left;
    margin-left: 20px;
    width: 150px;
}

footer .menu > ul > li > a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

footer .menu > ul > li > ul > li a {
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

footer .left-side {
    width: 200px;
}

@media (max-width: 1500px) {
    .padding {
        padding: 0px;
    }
}

@media (max-width: 1360px) {
    .padding {
        padding: 0px;
    }

    footer .left-side {
        width: 200px;
    }

    footer .menu > ul > li {
        float: left;
    }

    footer .menu > ul > li > a {
        font-size: 14px;
    }

    footer .menu > ul > li > ul > li a {
        font-size: 14px;
    }
}

@media (max-width: 1280px) {
    .padding {
        padding: 0px;
    }

    footer .menu > ul > li {
        width: 130px;
    }
}

@media (max-width: 1024px) {
    .padding {
        padding: 0px;
    }

    .mobile-menu-btn {
        display: block;
    }
}

@media (max-width: 767px) {
    .product {
        max-width: 300px;
    }

    .padding {
        padding: 0px;
    }

    .doc, .doc-mic {
        max-width: 200px;
    }

    footer .left-side {
        margin: 0 auto;
    }

    footer .menu > ul > li {
        width: 100%;
        margin-left: 0px;
    }

    footer .menu > ul > li > a {
        margin-bottom: 10px;
    }

    footer .menu > ul > li > ul {
        margin-bottom: 20px;
    }
}

.content-wrap {
    margin: 0px auto;
    flex-grow: 1;
    flex-shrink: 0;
}

@media (max-width: 980px) {
    .padding {
        padding: 0px;
    }

    .main {
        width: auto;
    }

    .sidebar {
        display: none;
    }
}

@media (max-width: 768px) {
    .padding {
        padding: 0px;
    }

    .sidebar {
        display: block;
        width: 100%;
        margin: 0px;
    }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
footer {
    outline: 2px solid #7BCDFD;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0px;
}

h1,
.h1 {
    font-size: 2.25rem;
}

h2,
.h2 {
    font-size: 1.5rem;
}

h3,
.h3 {
    font-size: 1.125rem;
    line-height: 20px;
}

h4,
.h4 {
    font-size: 1.0625rem;
}

p {
    margin: 0.5em 0px;
}

@media only screen and (max-width: 640px) {
    .padding {
        padding: 0px;
    }

    .btn.blue {
        background: rgb(0, 144, 208) none repeat scroll 0% 0%;
        height: 55px;
        color: rgb(255, 255, 255);
        padding: 0px 10px;
        font-size: 20px;
        line-height: 55px;
        font-weight: bold;
        text-shadow: 1px 1px 0px rgb(0, 114, 164);
        border-radius: 0px;
        text-transform: uppercase;
    }

    html {
        font-size: 15px;
    }

    h1,
    .h1 {
        font-size: 16px;
    }

    h2,
    .h2 {
        font-size: 16px;
    }

    h3,
    .h3 {
        font-size: 15px;
    }

    h4,
    .h4 {
        font-size: 14px;
    }

    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 500px) {
    .padding {
        padding: 0px;
    }
    .doc, .doc-mic {
        margin: 0 auto;
        display: block;
        float: none;
    }
    .text-doc {
        text-align: center;
    }

    footer .right-side {
        width: 100%;
    }

    .btn.blue {
        background: rgb(0, 144, 208) none repeat scroll 0% 0%;
        height: 55px;
        color: rgb(255, 255, 255);
        padding: 0px 10px;
        font-size: 14.5px;
        line-height: 55px;
        font-weight: bold;
        text-shadow: 1px 1px 0px rgb(0, 114, 164);
        border-radius: 0px;
        text-transform: uppercase;
    }

    html {
        font-size: 15px;
    }

    h1,
    .h1 {
        font-size: 16px;
    }

    h2,
    .h2 {
        font-size: 16px;
    }

    h3,
    .h3 {
        font-size: 15px;
    }

    h4,
    .h4 {
        font-size: 14px;
    }

    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 430px) {
    .btn.blue {
        background: rgb(0, 144, 208) none repeat scroll 0% 0%;
        height: 55px;
        color: rgb(255, 255, 255);
        padding: 0px 5px;
        font-size: 14.5px;
        line-height: 55px;
        font-weight: bold;
        text-shadow: 1px 1px 0px rgb(0, 114, 164);
        border-radius: 0px;
        text-transform: uppercase;
    }

    .product {
        max-width: 270px;
    }
}

@media only screen and (max-width: 370px) {
    .btn.blue {
        background: rgb(0, 144, 208) none repeat scroll 0% 0%;
        height: 55px;
        color: rgb(255, 255, 255);
        padding: 0px 7px;
        font-size: 12px;
        line-height: 55px;
        font-weight: bold;
        text-shadow: 1px 1px 0px rgb(0, 114, 164);
        border-radius: 0px;
        text-transform: uppercase;
    }
}

.vk-container {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.vk-header {
    background: rgb(218, 226, 232) none repeat scroll 0% 0%;
    padding: 4px 4px 4px 6px;
    margin-bottom: 10px;
}

.vk-logo {
    background: transparent none no-repeat scroll 0% 0%;
    width: 16px;
    height: 16px;
    float: right;
    margin-top: -1px;
}

.vk-header-text {
    padding: 2px 3px 1px;
    line-height: 100%;
    color: rgb(69, 104, 142);
    font-weight: bold;
}

.vk-avatar img {
    float: left;
    margin-right: 10px;
    margin-top: 7px;
}

.vk-comment,
.vk-comment-load {
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid rgb(218, 225, 232);
    padding-bottom: 15px;
}

.vk-comment:last-child {
    border-bottom: 0px none;
}

.vk-comment-name {
    margin-left: 10px;
    color: rgb(43, 88, 122);
    font-weight: bold;
    font-size: 12px;
}

.vk-comment-text {
    margin-left: 10px;
}

.vk-comment-date {
    margin-left: 60px;
    color: rgb(153, 153, 153);
}

.main {
    width: 100%;
    border-right: 2px solid rgb(246, 246, 246);
    padding: 10px;
    margin: 0 auto;
}

.main {
    overflow: hidden;
    padding: 0px 20px;
}

.main1 {
    padding: 10px;
}

.sidebar {
    width: 30%;
    float: left;
    background-color: rgb(251, 251, 252);
    margin: 2% 2% 0%;
    border: 2px solid rgb(246, 246, 246);
    border-radius: 10px;
    padding: 10px;
}

@media screen and (min-width: 1920px) {
    .padding1 {
        padding: 0% 10%;
    }

    .header__in1 {
        margin: 0px auto;
        padding: 0% 10%;
    }

    .container1 {
        max-width: 1400px;
        margin: 0% 11.8%;
    }
}

@media screen and (min-width: 1366px) {
    .padding {
        padding: 0% 10%;
    }

    .header__in {
        margin: 0px auto;
        padding: 0% 11%;
    }

    .container {
        max-width: 1400px;
        padding: 0% 10.7%;
        margin: 0px auto;
    }
}

.sidebar ul li {
    list-style: outside none none;
    padding-top: 40px;
    font-size: 16px;
    color: rgb(22, 151, 206);
    font-weight: 600;
}

.sidebar li img {
    float: left;
    margin-right: 5px;
    vertical-align: middle;
    border-radius: 5px;
    border: 2px solid rgb(246, 246, 246);
}

.msg ul li {
    list-style: outside none none;
    padding-top: 40px;
    font-size: 16px;
    color: rgb(22, 151, 206);
    font-weight: 600;
}

.msg li img {
    float: left;
    margin-right: 5px;
    vertical-align: middle;
    border-radius: 5px;
    border: 2px solid rgb(246, 246, 246);
}

@media (max-width: 980px) {
    .padding {
        padding: 0px;
    }

    .main {
        width: auto;
    }

    .sidebar {
        display: none;
    }
}

@media (max-width: 768px) {
    .padding {
        padding: 0px;
    }

    .main {
        width: 100%;
        padding: 0px;
    }

    .sidebar {
        display: block;
        width: 100%;
        margin: 0px;
    }
}

img {
    max-width: 100%;
    border: medium none;
}

.main-container {
}

.limit {
    display: block;
    width: 100%;
    max-width: 980px;
    margin: 0px auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

.head {
    background: rgb(151, 190, 231) none repeat scroll 0% 0%;
}

.logo {
    display: inline-block;
    padding: 25px 10px;
    vertical-align: middle;
}

.logo img:first-child {
    max-width: 200px;
    width: 100%;
    vertical-align: middle;
}

.logo img:last-child {
    max-width: 35px;
    width: 100%;
    vertical-align: middle;
}

.search {
    background-color: white;
    min-height: 40px;
    padding: 10px;
}

.search input {
    width: 100%;
    background-color: rgb(245, 245, 245);
    float: left;
    padding: 10px 0px;
    text-indent: 10px;
    border: 1px solid rgb(226, 226, 226);
    box-sizing: border-box;
}

.search .icon-search {
    float: right;
    margin-top: -38px;
    color: rgb(255, 255, 255);
    background: rgb(63, 118, 211) none repeat scroll 0% 0%;
    padding: 9px 8px;
    height: 20px;
    width: 27px;
}

.main-container {
    background-color: white;
}

.content {
    display: inline-block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    font-size: 28px;
    padding-bottom: 10px;
}

.content p {
    padding: 10px;
    line-height: 25px;
    text-align: justify;
}

.content img {
    margin: 0px auto;
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.content .center {
    text-align: center;
}

h2 {
    font-size: 18px;
    line-height: 22px;
}

.content .list span {
    display: block;
}

.content .inlbl_img {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    float: left;
}

.content .centr_back {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    background-color: rgb(92, 92, 92);
    padding: 0px 10px;
    font-weight: bold;
}

.content .img_text .fl {
    float: left;
    width: 29%;
}

.content .prod {
    width: 50%;
}

.comment p {
    padding: 5px;
}

.comment .name {
    color: rgb(0, 153, 255);
}

.comment .name span {
    color: black;
}

.sidebar {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    box-sizing: border-box;
}

.sidebar .widget h3 {
    text-transform: uppercase;
    font-size: 15px;
    padding: 12px 15px;
    margin-bottom: 0px;
    line-height: 18px;
}

.sidebar .widget > ul {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.sidebar .widget li {
    margin: 0px;
    list-style: outside none none;
    border-bottom: 1px solid rgb(237, 237, 237);
    padding: 15px;
}

.wp-post-image {
    float: left;
    margin: 5px 10px 0px 0px;
}

.sidebar .post-excerpt {
    color: rgb(86, 86, 86);
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;
}

.post-data {
    overflow: hidden;
}

.post-title a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    line-height: 20px;
}

.post-img img {
    width: 65px;
}

.icon-facebook {
    display: inline-block;
    color: white;
    background-color: rgb(59, 89, 152);
    padding: 10px 9px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 10px;
}

.icon-gplus {
    display: inline-block;
    color: white;
    background-color: rgb(221, 75, 57);
    padding: 10px 9px;
    border-radius: 50%;
    margin-right: 20px;
}

.icon-twitter {
    display: inline-block;
    color: white;
    background-color: rgb(0, 172, 237);
    padding: 10px 9px;
    border-radius: 50%;
}

.icon-rss {
    color: rgb(255, 102, 0);
    font-size: 37px;
    vertical-align: middle;
}

.icon-menu {
    display: none;
}

@media screen and (max-width: 994px) {
    .menu {
        display: none;
    }

    .icon-menu {
        display: block;
        float: right;
        padding-right: 30px;
        padding-top: 30px;
        font-size: 30px;
    }
}

@media screen and (max-width: 800px) {
    .sidebar {
        width: 96% !important;
    }

    .content {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .content {
        padding: 0px;
    }

    .content .prod {
        width: 90%;
    }

    .content .img_text .fl {
        width: 40%;
    }

    .content .inlbl_img {
        display: block;
        width: 100%;
        float: none;
    }

    .icon-menu {
        padding-right: 10px;
    }

    .logo {
        padding: 25px 6px;
    }
}

@font-face {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    src: url("urn:scrapbook:download:error:http://articles.healer.press/detoclean/id/medisbox2/fonts/fontello.eot") format("embedded-opentype"), url("../fonts/fontello.woff2") format("woff2"), url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype"), url("../fonts/fontello.svg") format("svg");
}

[class^="icon-"]::before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
}

.icon-search::before {
    content: "";
}

.icon-twitter::before {
    content: "";
}

.icon-facebook::before {
    content: "";
}

.icon-rss::before {
    content: "";
}

.icon-menu::before {
    content: "";
}

.icon-gplus::before {
    content: "";
}

@media screen and (max-width: 305px) {
    .icon-menu,
    .search {
        display: none;
    }

    .logo img:first-child {
        max-width: 200px;
        width: 72%;
    }

    h1 {
        font-size: 20px;
    }

    .icon-facebook,
    .icon-gplus {
        margin-right: 0px;
    }

    .content p {
        line-height: 20px;
        font-size: 15px;
    }
}

.vote-block {
    width: auto;
    display: block;
    background: rgb(238, 239, 241) none repeat scroll 0% 0%;
    border-radius: 3px;
}

.vote-block-head {
    display: block;
    text-align: left;
    width: auto;
    padding: 15px 20px;
}

.vote-block-head h2 {
    color: rgb(143, 0, 1);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-top: 0px;
    font-style: normal;
}

.vote-block-head span {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-transform: lowercase;
    font-style: normal;
}

.vote-block-content {
    display: block;
    width: auto;
    border: 1px solid rgb(238, 239, 241);
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    padding: 0px 20px;
}

.vote-block-content-container:first-child {
    margin-top: 30px;
}

.vote-block-content-container:last-child {
    margin-bottom: 40px;
}

.vote-block-content-container {
    display: block;
    width: auto;
    margin-bottom: 20px;
}

.vote-block-content-container::after {
    content: "";
    display: block;
    clear: both;
}

.vote-block-content-text {
    float: left;
    display: block;
    width: 40%;
    text-align: left;
    font-style: normal;
}

.vote-block-content-stat {
    display: block;
    float: right;
    width: 60%;
    position: relative;
    background: rgb(238, 239, 241) none repeat scroll 0% 0%;
    height: 25px;
}

.vote-block-content-stat-line {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35%;
    height: 100%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
    text-align: right;
}

.vote-block-content-stat-line h6 {
    font-size: 12px;
    color: rgb(238, 239, 241);
    margin-left: 121%;
    margin-top: 4px;
    font-style: normal;
}

.line-1 {
    width: 23%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-2 {
    width: 47%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-3 {
    width: 8%;
    background: rgb(102, 160, 29) none repeat scroll 0% 0%;
}

.line-4 {
    width: 17%;
    background: rgb(147, 149, 152) none repeat scroll 0% 0%;
}

.line-5 {
    width: 5%;
    background: rgb(147, 149, 152) none repeat scroll 0% 0%;
}

.line-1 h6 {
    color: rgb(102, 160, 29);
}

.line-2 h6 {
    color: rgb(102, 160, 29);
    margin-left: 108%;
}

.line-3 h6 {
    color: rgb(102, 160, 29);
}

.line-4 h6 {
    color: rgb(147, 149, 152);
}

.line-5 h6 {
    color: rgb(147, 149, 152);
}

.renul_seDwyoGn57 .gelat_Bb6MhOHv {
    float: left;
    padding: 0px 30px 10px 0px;
    font-size: 12px;
    font-style: italic;
    color: rgb(161, 161, 168);
}

@media screen and (max-width: 720px) {
    .renul_seDwyoGn57 .gelat_Bb6MhOHv {
        margin: 0px auto;
        padding-right: 0px;
        float: none;
    }

    .m {
        font: none !important;
        margin: auto !important;
        width: 100%;
    }

    .vk-container,
    .vk-comment-name {
        font-size: 16px;
    }
}